dj-database-url==0.4.2

Django==2.0.1
gunicorn==19.7.1

psycopg2==2.7.3.2

pytz==2017.3
beautifulsoup4==4.6.0
amqp==2.2.2
billiard==3.5.0.3
celery==4.0.1
celery-progress==0.0.3
certifi==2018.4.16
chardet==3.0.4
django-celery-results==1.0.1
django-cors-headers==2.2.0
eventlet==0.22.1
greenlet==0.4.13
idna==2.6
kombu==4.0.1
requests==2.18.4
urllib3==1.26.5
vine==1.1.4